@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*auth page*/
.auth {
	background: url('../img/Cover.jpg') center center/cover no-repeat;
	z-index: 1;
}
.blur{
	content: ' ';
	width: 100%;
	height: 100vh;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	backdrop-filter: blur(15px);
	/* z-index: -1; */
}

.auth-title {
	padding: 26px 0 24px 0;
	text-align: center;
	border-bottom: 1px solid #E5E5E5;
	position: relative;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	/*line-height: 18px;*/
	color: #2C2C2E;
}

.auth-container {
	width: 546px;
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 40px 30px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px #E5E5EA;
	border-radius: 10px;
}

.auth-form {
	padding: 20px 20px 30px 20px;
}

.form-input input {
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding: 15px;
	margin: 10px 0;
	width: 100%;
	display: block;
}

.btn {
	padding: 10px 30px;
	display: block;
	margin: 10px auto;
	cursor: pointer;

	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
	background: #5D5FEF;
	border-radius: 5px;
}

/*end auth page*/

/*room page*/
.room {
	background: #F4F4F4;
}

.room .auth-container {
	box-shadow: none;
}

.doorr {
	position: absolute;
	padding: 24px 5%;
	right: 50px;
	top: 5%;
	transform: translateY(-50%);
}

.room .form-input {
	position: relative;
}

.room .btn {
	position: absolute;
	right: 5px;
	top: -4px;
	padding: 10px 30px;
}

.next-chat {
	padding: 15px;
	margin-bottom: 5px;
	background: #7879F1;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color: #F4F4F4;
}

.next-chat p {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #F4F4F4;
}
.all-rooms{
	height: 175px;
	overflow-y: auto;
}

.all-rooms::-webkit-scrollbar {
	display: none;
}

.all-rooms::-webkit-scrollbar-thumb {
	display: none;

}

.all-rooms::-webkit-scrollbar-track {
	display: none;
}
/*end room page*/

/* chat page*/
.chat-body {
	padding: 0 27px;
	height: 83vh;
	overflow: auto;
}

.chat .auth-container {
	height: 100vh;
}

.auth-title p.date {
	margin: 0 0;
}

.auth-title.chat-title {
	padding: 8px 0;
}

.date {
	margin: 16px 0;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #666668;
}

.time {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;

	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
}

.chat-all {
	margin: 6px 0;
	display: flex;
	justify-content: end;
}

.door {
	position: absolute;
	right: 22px;
	top: 50%;
	transform: translateY(-50%);
}

.chat-response {
	padding: 4px 8px 27px;
	min-width: 100px;
	background: #5D5FEF;
	border-radius: 6px 6px 6px 6px;
	display: inline-block;
	position: relative;
	right: 0;
	z-index: 99;
}

.chat-response h5 {
	padding-bottom: 4px;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #2C2C2E;
}

.chat-response.index::before {
	content: ' ';
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	top: 2.3px;
	right: -6px;
	background: url('../img/right.svg') no-repeat;
	transform: scale(1.5);
}

.chat-response p {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

.chat-response.left {
	background: #F2F2F7;
	border-radius: 6px 6px 6px 6px;
	color: black;
}

.chat-response.index {
	margin-top: 20px;
}

.chat-response.left p {
	color: black;
}

.chat-response.left.index::before {
	content: ' ';
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	top: 2.3px;
	left: -6px;
	background: url('../img/left.svg') no-repeat;
	transform: scale(1.5);
}

.chat-all.left-container {
	justify-content: flex-start;
}

.chat .btn {
	padding: 10px;
	right: 0;
	top: 10px;
	background: transparent;
}

.chat .form-input {
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 546px;
	z-index: 99;
}

.chat .form-input input {
	border-radius: 0;
}

/*end chat page*/

::-webkit-scrollbar {
	width: 3px;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #5D5FEF;
	border-radius: 5px;

}

::-webkit-scrollbar-track {
	display: none;
}

@media(max-width: 992px) {
	.auth-container {
		width: 456px;
	}
	.chat .form-input {
		width: 456px;
	}
	/* .doorr {
		padding: 24px 107px;
	} */
}

@media(max-width: 776px) {
	.auth-container {
		width: 380px;
	}
	.chat .form-input {
		width: 380px;
	}
	/* .doorr {
		padding: 24px 2%;
	} */
}