{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Авторизация</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="blur"></div>
	<div class="auth container">
		<div class="auth-container">
			<div>
				<h1 class="auth-title">Авторизация</h1>
				<form method="post" class="auth-form">
					{%csrf_token%}
					<div class="form-input">
						<input type="text" name="username" placeholder="Логин">
					</div>
					<div class="form-input">
						<input type="password" name="password" placeholder="Пароль">
					</div>
				  	<button type="submit" class="btn">Войти</button>
				</form>
			</div>
		</div>	
	</div>

	

</body>
</html>