{% load static %}
{% load chat_tags %}
<!DOCTYPE html>
<html>

<head>
	<title>Авторизация</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
	{% if messages %}
		{% for message in messages %}
			<script type="text/javascript">
				alert({{message}});
				{% comment %} alert('The message was empty!!!'); {% endcomment %}
			</script>
		{% endfor %}
	{% endif %}
	<div class="chat room container">
		<div class="auth-container">
			<div class="">
				<h1 class="auth-title">
					{{room}}
					<p class="date">{{count}} участника</p>
					<a href="{% url 'chat:rooms' %}" class="door"><img src="{% static 'img/door.svg' %}"></a>
				</h1>

				<div class="chat-body" id="chat-body">
				{% for message in all_messages %}
					{% room_date message.pk message.room %}
					
					{% if message.user == request.user %}
						<div class="chat-all">
							<div class="chat-response {% user_msg message.pk message.room message.user %}">
								<p>{{message.text}}</p>
								<p class="time">
									{{message.created|date:"H:i"}}
									<img src="{% static 'img/read.svg' %}">
								</p>
								<div class="chat-reactangle"></div>
							</div>
						</div>
					{% else %}
						<div class="chat-all left-container">
							<div class="chat-response left {% user_msg message.pk message.room message.user %}">
								<h5> {% firstof message.user.get_full_name message.user %}</h5>
								<p>{{message.text}}</p>
								<p class="time">{{message.created|date:"H:i"}}</p>
								<div class="chat-reactangle"></div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				</div>
				<form action"." method="post" class="auth-form"> {%csrf_token%}
					<div class="form-input">
						<input type="text" id="chat-message-input" name="message" placeholder="Сообщение...">
						<button id="chat-message-submit" class="btn"><img src="{% static 'img/send.svg' %}"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{room.slug|json_script:"json-roomname"}}
	{{request.user.get_full_name|json_script:"json-full_name" }}
	{{request.user.username|json_script:"json-username"}}
	<script>
		const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
		const userName = JSON.parse(document.getElementById('json-username').textContent);
		const full_name = JSON.parse(document.getElementById('json-full_name').textContent);

		const chatSocket = new WebSocket(
			'ws://'	+ window.location.host + '/ws/' + roomName + '/'
		);
		chatSocket.onmessage = function(e) {
			const data = JSON.parse(e.data);

			if (data.message) {
				let h = new Date().getHours();
				let m = new Date().getMinutes();
				if(full_name != ''){name=full_name}else{name=userName}

				let html = ""
				if (data.username == userName) {
					html += '<div class="chat-all"><div class="chat-response index">'
					html += '<p>' + data.message + '</p><p class="time">'
					html += h + ':' + m + '<img src={% static "img/check.svg" %}></p><div class="chat-reactangle"></div></div></div>'
				}
				else{
					html += '<div class="chat-all left-container"><div class="chat-response left index">'
					html += '<h5>' + data.username + '</h5>'
					html += '<p>' + data.message + '</p><p class="time">'
					html += h + ':' + m + '</p><div class="chat-reactangle"></div></div></div>'
				}
				document.querySelector('#chat-body').innerHTML += html;
				scrollToBottom();
			} else {
				alert('The message was empty!!!');
			}
		}
		chatSocket.onclose = function(e) {
			console.log('onclose');
		}

		document.querySelector("#chat-message-submit").onkeyup = function(e) {
			if (e.keyCode === 13) {
				document.querySelector("#chat-message-submit").click();
			}
		};

		document.querySelector('#chat-message-submit').onclick = function(e) {
			e.preventDefault();
			const messageInput = document.querySelector('#chat-message-input');
			const message = messageInput.value;
			if (message != ''){
				chatSocket.send(JSON.stringify({
					'message': message,
					'username': userName,
					'room': roomName,
				}));
			}
			messageInput.value = '';
			return false;
		}
		function scrollToBottom(){
			const objDiv = document.querySelector('#chat-body');
			objDiv.scrollTop = objDiv.scrollHeight;
		}
		scrollToBottom();
	</script>
</body>
</html>