{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Авторизация</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	{% if request.user.is_authenticated %}
		<a href="{% url 'chat:logout' %}" class="doorr"><img src="{% static 'img/door.svg' %}"></a>
	{% endif %}
	<div class="room container">
		<div class="auth-container">
			<div class="">
				<h1 class="auth-title">Выберите / создайте чат</h1>
				<form action="{% url 'chat:chat' %}" method="post" class="auth-form">
					{%csrf_token%}
					<div class="all-rooms">
						{% for room in rooms %}
							<a href="{% url 'chat:chat' room.slug %}" class="next-chat">
								<p>{{room}}</p>
								<img src="{% static 'img/next.svg' %}">
							</a>
						{% endfor %}
					</div>
					<div class="form-input">
						<input type="text" name="name" placeholder="Введите название чата" required>
				  		<button type="submit" class="btn">Создать</button>
					</div>
				</form>
			</div>
		</div>	
	</div>
	{% if messages %}
		{% for message in messages %}
			<script type="text/javascript">
				alert("{{message}}");
			</script>
		{% endfor %}
	{% endif %}
</body>
</html>